service: ai-wildberries-review-responder
frameworkVersion: "3"

provider:
  name: yandex-cloud
  runtime: python312
  region: ru-central1

plugins:
  - "@yandex-cloud/serverless-plugin"

package:
  patterns:
    - '!**'
    - src/**
    - requirements.txt
    - settings.yaml

functions:
  WbResponderFunction:
    name: wb-responder-function
    handler: src.entrypoints.cron_entrypoint.cron_handler
    memorySize: 512
    timeout: '30'
    account: wb-responder-service-account

    events:
      - cron:
          expression: "*/30 * * * ? *"
          account: trigger-sa

resources:
  wb-responder-service-account:
    type: yc::ServiceAccount
    roles:
      - ai.languageModels.user

  trigger-sa:
    type: yc::ServiceAccount
    roles:
      - serverless.functions.invoker
