service: ai-wildberries-review-responder
frameworkVersion: "3"

provider:
  name: yandex-cloud
  runtime: python312
  region: ru-central1

plugins:
  - "@yandex-cloud/serverless-plugin"

package:
  patterns:
    - '!**'
    - src/**
    - requirements.txt
    - settings.yaml

functions:
  WbResponderFunction:
    name: wb-responder-function
    handler: src.entrypoints.yandex_cloud_function.handler
    memorySize: 512
    timeout: '30'
    account: wb-responder-function-service-account
    environment:
      WILDBERRIES__API_TOKEN: ${env:WB_API_TOKEN}
      LLM__API_KEY: ${env:LLM_API_KEY, 'null'}
    events:
      - cron:
          expression: "*/30 * * * ? *"
          account: wb-responder-trigger-service-account

resources:
  wb-responder-function-service-account:
    type: yc::ServiceAccount
    roles:
      - ai.languageModels.user

  wb-responder-trigger-service-account:
    type: yc::ServiceAccount
    roles:
      - serverless.functions.invoker
